<ion-view title="Depósito" id="page10" style="">
  <ion-content padding="true" class="has-header">
    <form id="depSito-form11" class="list" name = "depositoForm" ng-submit = "deposito(valor)">
      <label class="item item-input" id="depSito-input12">
        <input placeholder="Valor" type="number" ng-model = "valor">
      </label>
      <button id="depSito-button16" class="button button-positive button-block"
      type = "submit" ng-disabled = "depositoForm.$invalid">Realizar</button>
    </form>
  </ion-content>
</ion-view>