<ion-view title="Inicial" id="page8" style="">
  <ion-content padding="true" class="has-header">
    <a ui-sref="saque()" class="button button-positive button-block">Saque</a>
    <a ui-sref="deposito()" id="inicial-button12" class="button button-positive button-block">Depósito</a>
    <a ui-sref="transferencia()" class="button button-positive button-block">Transferência</a>
    <button id="inicial-button14" class="button button-positive button-block" ng-click="extrato()">Extrato</button>
    <h4 id="inicial-heading2" style="color: rgb(0, 0, 0);">Saldo: {{conta.saldo}}</h4>
  </ion-content>
</ion-view>