<ion-view title="Operações" id="page2" style="">
  <ion-content padding="true" class="has-header">
    <a ui-sref="cadastroDeInstituicao()" id="operaEs-button2" class="button button-positive button-block">Cadastrar instituição</a>
    <button class="button button-positive button-block" ng-click="adicionarAgencia()">
    	Cadastrar agência</button>
    <button ng-click="adicionarCliente()" class="button button-positive button-block">Cadastrar cliente</button>
    <a ui-sref="login()" id="operaEs-button5" class="button button-positive button-block">Entrar na conta</a>
  </ion-content>
</ion-view>