<ion-view title="Saque" id="page9" style="">
  <ion-content padding="true" class="has-header">
    <form id="saque-form10" class="list" name = "saqueForm" ng-submit = "saque(valor)">
      <label class="item item-input" id="saque-input11">
        <input placeholder="Valor" type="number" ng-model = "valor">
      </label>
    	<button id="saque-button15" class="button button-positive button-block"
    	type = "submit" ng-disabled = "saqueForm.$invalid">Realizar</button>
    </form>
  </ion-content>
</ion-view>